@tailwind base;
@tailwind components;
@tailwind utilities;

.available {
  border-color: #999 !important;
}

.crop {
  background: #d7c493 !important;
  border-color: #af7e06 !important;
}
.crop:hover {
  background: #af7e06 !important;
  border-color: #d7c493 !important;
}

.decoration {
  background: #fff6b6 !important;
  border-color: #ffdc4b !important;
}
.decoration:hover {
  background: #ffdc4b !important;
  border-color: #fff6b6 !important;
}
