@tailwind base;
@tailwind components;
@tailwind utilities;

.available {
  border-color: #999 !important;
}

.crop {
  background: #b4edc4 !important;
}
.crop:hover {
  background: #5bc193 !important;
}

.decoration {
  background: #fff6b6 !important;
}
.decoration:hover {
  background: #ffdc4b !important;
}

.common {
  color: #6c7c8c !important; /* text-muted */
}
.uncommon {
  color: #00875a !important; /* text-success */
}
.rare {
  color: #305bab !important;
}
.epic {
  color: #6631d7 !important;
}
.legendary {
  color: #fe9f4d !important;
}

.water {
  color: #305bab !important;
}

.chip-muted {
  background-color: #f5f5f5 !important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-card {
  padding: 10px !important;
}
