@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  line-height: 1em !important;
}

.available {
  border-color: #999 !important;
}

.crop {
  background: #b4edc4 !important;
}
.crop:hover {
  background: #5bc193 !important;
}
.crop.readonly:hover {
  background: #b4edc4 !important;
}

.decoration {
  background: #fff6b6 !important;
}
.decoration:hover {
  background: #ffdc4b !important;
}

.tool {
  background: #f8d3af !important;
}
.tool:hover {
  background: #d5b18d !important;
}

.common {
  color: #6c7c8c !important; /* text-muted */
}
.uncommon {
  color: #00875a !important; /* text-success */
}
.rare {
  color: #305bab !important;
}
.epic {
  color: #6631d7 !important;
}
.legendary {
  color: #fe9f4d !important;
}

.water {
  color: #305bab !important;
}

.chip-muted {
  background-color: #f5f5f5 !important;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-card {
  padding: 10px !important;
}

.progress {
  background: #305bab;
}

.icon {
  width: 40px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #ebedef;
  padding: 12px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon-sm {
  width: 26px;
  height: 26px;
  font-size: 0.7em;
}

.tooltip-secondary {
  position: relative;
  display: inline-block;
  text-align: center;
}
.tooltip-secondary-content {
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
}
.tooltip-secondary:hover .tooltip-secondary-content {
  visibility: visible;
}
.tooltip-content {
  font-size: 0.8em !important;
}
